globalResourceControl:  .false.
logKindFlag:            ESMF_LOGKIND_MULTI        ! ESMF_LOGKIND_MULTI, ESMF_LOGKIND_Multi_On_Error
logAppendFlag:          .false.
VMLog:                  .false.

WRF_verbosity:          low
OCN_verbosity:          low

WRF_petlist:            0
OCN_petlist:            0
