globalResourceControl:  .false.
logKindFlag:            ESMF_LOGKIND_MULTI        ! ESMF_LOGKIND_MULTI, ESMF_LOGKIND_Multi_On_Error
logAppendFlag:          .false.
VMLog:                  .false.

ATM_verbosity:          low
OCN_verbosity:          low

ATM_petlist:            0
OCN_petlist:            0
